# Arquivos do sistema
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~

# Arquivos de editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dependências
node_modules/
npm-debug.log

# Build
dist/
build/
